@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

a{
	text-decoration:none;
	color:inherit;
}
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	clear: none;
	float: none;
}
#headerDiv
{
	height : auto;
	width : 100%;
}
#logo
{
	text-align : center;
	padding-top : 20px;
}
#loginHead
{
	text-align: center;
	margin-right: 10px;
	font-family: Avenir;
	color: #87c400;
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
}
#loginHead a
{
	text-decoration : none;
	color: #87c400;
}
#profilePic
{
	height : 24px;
	width : 16px;
	margin-right: 5px;
	background-color : black;
}
#settingsSymbol
{
	height : 16px;
	width : 16px;
}
#chatSymbol
{
	width : 25px;
	height : 15px;
	margin-left: 10px;
}
#navidaterHeader
{
	width : 200px;
	height : auto;
}
#navidaterText
{	
	margin-top : 0px;
	font-family: Avenir;
	color: #87c400;
	font-size: 13px;
	font-weight: 300;
	line-height: auto;
}
#headerNav
{
	font-family: Avenir;
	color: #87c400;
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	padding-top : 35px;
}
#headerNav a
{
	text-decoration : none;
	color: #87c400;
}
#numberOnline
{
	font-family: Avenir;
	color: #87c400;
	font-size: 7px;
	font-weight: 300;
	line-height: 26px;
}
.headNav
{
	display : inline;
	padding-left: 15px;
}
#mainNav
{
	width : 100%;
	height : auto;
	text-align : center;
	background-image: -webkit-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: -moz-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: -o-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: linear-gradient(90deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
}
#mobileSpan
{
	display : none;
}
#navWrapper
{
	margin-top : 15px;
	padding-top : 5px;
	font-size : 16px;
	margin-bottom: 30px;
}
.mainNavigation
{	
	padding-top : 5px;
	padding-bottom : 5px;
	margin-right : 7px;
	margin-left : 7px;
}
.mainNavigation a
{
	text-decoration : none;
	color : black;
}
.navNumbers
{
	display : inline;
	width : 100%;
	height : 20px;
	padding : 3px;
	border-radius: 3px;
	background-color: #ffd700;
	font-family: Avenir;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
}
#footer
{
	width : 100%;
	height : auto;
	background-image:url(images/bottom_menuBG.png);
	background-repeat : repeat;
}
#footerTop
{
	text-align : center;
	font-family: Avenir;
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 37px;
	height : auto;
	opacity :.95;
	background-image: -webkit-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: -moz-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: -o-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: linear-gradient(90deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
}
.footerBlock
{
	display : inline;
	padding-left : 15px;
	padding-right : 15px;
	padding-top : 50px;
}
#footerBottom
{
	text-align : center;
	font-family: Avenir;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	line-height: 37px;
	opacity : .95;
	height : 170px;
	background-image: -webkit-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: -moz-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: -o-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: linear-gradient(90deg, #555657 10%, #7b7b7b 50%, #555657 87%);
}
#footerBottom img
{
	width : 300px;
}
#bottomFooterWrap
{
	padding-top : 30px;
}
#report{
	font-family: Avenir;
	color: #88c500;
	font-size: 20px;
	font-weight: 300;
	line-height: 29px;
	margin-top: 30px;
	padding-top: 30px;
	height: 29px;
	text-align: center;
}
#report span{
 	height: 15px;
	color: #555657;
	font-size: 15px;
	font-weight: 300;
	line-height: 51px;
	display: block;
	text-align: center;
}
#report img{
	display: block;
	margin: 30px auto 0 auto;
}
nav ul{
	color: #555657;
	font-size: 20px;
	font-weight: 300;
	line-height: 51px;
	margin-top: 6em;
}
nav ul li{
	float: left;
	margin-left: 50px;
	margin-bottom: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-image: -webkit-linear-gradient(90deg, #ffe68c 45%, #ffffd2 100%);
	background-image: -moz-linear-gradient(90deg, #ffe68c 45%, #ffffd2 100%);
	background-image: -o-linear-gradient(90deg, #ffe68c 45%, #ffffd2 100%);
	background-image: linear-gradient(0deg, #ffe68c 45%, #ffffd2 100%);
	width: 120px;
	text-align:center;
}
nav ul li a{
	font-size: 16px;
	color: #555657;
}
#sec{
	margin-top: 28em;
	background-color: #ebebeb;
	height: 2499px;
}
#sec .first_row{
	margin-top: 20px;
	width: auto;
	height: 50px;
	color: white;
	background-image: -webkit-linear-gradient(0deg, #87c400 0%, #99dd01 50%, #87c400 100%);
	background-image: -moz-linear-gradient(0deg, #87c400 0%, #99dd01 50%, #87c400 100%);
	background-image: -o-linear-gradient(0deg, #87c400 0%, #99dd01 50%, #87c400 100%);
	background-image: linear-gradient(90deg, #87c400 0%, #99dd01 50%, #87c400 100%);
	margin-bottom: 12px;
}
#sec p{
	font-size: 20px;
	margin: 10px 0 0 20px;
}
#sec #innerP{
	font-size: 14px;
	margin-left: 20px;
}
#sec #innerP input{
	margin-left: 10px;
}
.inside_row{
	width:100%;
}
.col-xs-4 p{
	margin-left:20px;
	margin-right: 0;
	padding-right:0;
	font-size: 14px;
}
.col-xs-4{
	text-align: Left;
}
.col-xs-4 img{
 width: 60px;
 height: 60px;
}
.col-xs-4 p .img{
	width: 40px;
	height: 40px;
}
.col-xs-4 p input{
	margin-left: 10px;
}
.mid_row{
	background-color: #d6d6d6;
}
#sec .row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.last_row{
	background-color: #d7d7d7;
}
.last_row a{
	font-size: 10px;
	padding-bottom: 10px;
}
.last_row p{
	font-size: 10px;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	.gridContainer {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	clear: none;
	float: none;
	margin-left: auto;
}
#headerDiv
{
	height : 100px;
	width : 100%;
	min-width: 700px;
}
#logo
{
	position: absolute;
	top : 20px;
	left: 25px;
	padding-top : 0px;
}
#loginHead
{
	float : right;
	margin-top: -30px;
	margin-right: 25px;
	font-family: Avenir;
	color: #87c400;
	font-size: 14.5px;
	font-weight: 300;
	line-height: 26px;
}

#loginHead a
{
	text-decoration : none;
	color: #87c400;
}
#profilePic
{
	height : 30px;
	width : 22px;
	margin-right: 10px;
	background-color : black;
}
#settingsSymbol
{
	height : 20px;
	width : 20px;
}
#chatSymbol
{
	width : 30px;
	height : 19px;
	margin-left: 20px;
}
#navidaterHeader
{
	width : 140px;
	height : auto;
}
#navidaterText
{	
	margin-top : 0px;
	font-family: Avenir;
	color: #87c400;
	font-size: 14.5px;
	font-weight: 300;
	line-height: auto;
}
#headerNav
{
	font-family: Avenir;
	color: #87c400;
	font-size: 15px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	padding-top : 35px;
}
#headerNav a
{
	text-decoration : none;
	color: #87c400;
}
#numberOnline
{
	font-family: Avenir;
	color: #87c400;
	font-size: 9px;
	font-weight: 300;
	line-height: 26px;
}
.headNav
{
	display : inline;
	padding-left: 15px;
}
#mainNav
{
	width : 100%;
	height : 34px;
	min-width : 700px;
	text-align : center;
	background-image: -webkit-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: -moz-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: -o-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: linear-gradient(90deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
}
#mobileSpan
{
	display : none;
}
#navWrapper
{
	padding-top : 5px;
	font-size : 10px;
}
.mainNavigation
{
	display : inline;
	margin-right : 7px;
	margin-left : 7px;
}
.mainNavigation a
{
	text-decoration : none;
	color : black;
}
.navNumbers
{
	display : inline;
	width : 100%;
	height : 20px;
	padding : 3px;
	border-radius: 3px;
	background-color: #ffd700;
	font-family: Avenir;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
}
#footer
{
	width : 100%;
	height : auto;
	background-image:url(images/bottom_menuBG.png);
}
#footerTop
{
	text-align : center;
	font-family: Avenir;
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 37px;
	height : auto;
	opacity :.95;
	background-image: -webkit-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: -moz-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: -o-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: linear-gradient(90deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
}
.footerBlock
{
	display : inline;
	padding-left : 15px;
	padding-right : 15px;
	padding-top : 50px;
}
#footerBottom
{
	text-align : center;
	font-family: Avenir;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	opacity : .95;
	height : 170px;
	background-image: -webkit-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: -moz-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: -o-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: linear-gradient(90deg, #555657 10%, #7b7b7b 50%, #555657 87%);
}
#footerBottom img
{
	width : 400px;
}
#bottomFooterWrap
{
	padding-top : 10px;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

		width: 100%;
	max-width: 1920px;
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#headerDiv
{
	height : 100px;
	width : 100%;
	min-width : 850px;
}
#logo
{
	position: absolute;
	top : 20px;
	left: 25px;
	padding-top : 0px;
}
#loginHead
{
	float : right;
	margin-top: -30px;
	margin-right: 25px;
	font-family: Avenir;
	color: #87c400;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
}
#loginHead a
{
	text-decoration : none;
	color: #87c400;
}
#profilePic
{
	height : 39px;
	width : 31px;
	margin-right: 10px;
	background-color : black;
}
#settingsSymbol
{
	height : 26px;
	width : 26px;
}
#chatSymbol
{
	width : 35px;
	height : 24px;
	margin-left: 20px;
}
#navidaterHeader
{
	width : auto;
	height : auto;
}
#navidaterText
{	
	margin-top : 0px;
	font-family: Avenir;
	color: #87c400;
	font-size: 17.8px;
	font-weight: 300;
	line-height: auto;
}
#headerNav
{
	font-family: Avenir;
	color: #87c400;
	font-size: 20px;
	font-weight: 300;
	line-height: 26px;
	text-align: center;
	padding-top : 35px;
}
#headerNav a
{
	text-decoration : none;
	color: #87c400;
}
#numberOnline
{
	font-family: Avenir;
	color: #87c400;
	font-size: 12px;
	font-weight: 300;
	line-height: 26px;
}
.headNav
{
	display : inline;
	padding-left: 15px;
}
#mainNav
{
	width : 100%;
	height : 34px;
	min-width : 850px;
	text-align : center;
	background-image: -webkit-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: -moz-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: -o-linear-gradient(0deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
	background-image: linear-gradient(90deg, #ffe68c 0%, #ffed9e 26%, #ffffd2 50%, #ffe68c 100%);
}
#navWrapper
{
	padding-top : 5px;
	font-size : 16px;
}
#mobileSpan
{
	display : none;
}
.mainNavigation
{
	display : inline;
	margin-right : 7px;
	margin-left : 7px;
}
.mainNavigation a
{
	text-decoration : none;
	color : black;
}
.navNumbers
{
	display : inline;
	width : 100%;
	height : 20px;
	padding : 3px;
	border-radius: 3px;
	background-color: #ffd700;
	font-family: Avenir;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
}
#footer
{
	width : 100%;
	height : auto;
	background-image:url(images/bottom_menuBG.png);
}
#footerTop
{
	text-align : center;
	font-family: Avenir;
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	line-height: 37px;
	height : 239px;
	opacity :.95;
	background-image: -webkit-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: -moz-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: -o-linear-gradient(0deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
	background-image: linear-gradient(90deg, #87c400 0%, #88c800 26%, #8cd200 50%, #87c400 100%);
}
.footerBlock
{
	display : inline-block;
	padding-left : 15px;
	padding-right : 15px;
	padding-top : 50px;
}
#footerBottom
{
	text-align : center;
	font-family: Avenir;
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	opacity : .95;
	height : 170px;
	background-image: -webkit-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: -moz-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: -o-linear-gradient(0deg, #555657 10%, #7b7b7b 50%, #555657 87%);
	background-image: linear-gradient(90deg, #555657 10%, #7b7b7b 50%, #555657 87%);
}
#footerBottom img
{
	width : auto;
}
#bottomFooterWrap
{
	padding-top : 30px;
}
#report{
	font-family: Avenir;
	color: #88c500;
	font-size: 20px;
	font-weight: 300;
	line-height: 29px;
	margin-top: 30px;
	padding-top: 30px;
	height: 29px;
	text-align: left;
}
#report span{
 	height: 15px;
	color: #555657;
	font-size: 15px;
	font-weight: 300;
	line-height: 51px;
	display: inline;
	text-align: right;
	margin-right: 20px;
	margin-left: 40em;
}
nav ul{
	color: #555657;
	font-size: 20px;
	font-weight: 300;
	line-height: 51px;
	margin-top: 6em;
}
nav ul li{
	float: left;
	margin-left: 50px;
	margin-bottom: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-image: -webkit-linear-gradient(90deg, #ffe68c 45%, #ffffd2 100%);
	background-image: -moz-linear-gradient(90deg, #ffe68c 45%, #ffffd2 100%);
	background-image: -o-linear-gradient(90deg, #ffe68c 45%, #ffffd2 100%);
	background-image: linear-gradient(0deg, #ffe68c 45%, #ffffd2 100%);
	width: 120px;
	text-align:center;
}
nav ul li a{
	font-size: 16px;
	color: #555657;
}
#sec{
	margin-top: 28em;
	background-color: #ebebeb;
	height: 2499px;
}
#sec .first_row{
	margin-top: 20px;
	width: auto;
	height: 50px;
	color: white;
	background-image: -webkit-linear-gradient(0deg, #87c400 0%, #99dd01 50%, #87c400 100%);
	background-image: -moz-linear-gradient(0deg, #87c400 0%, #99dd01 50%, #87c400 100%);
	background-image: -o-linear-gradient(0deg, #87c400 0%, #99dd01 50%, #87c400 100%);
	background-image: linear-gradient(90deg, #87c400 0%, #99dd01 50%, #87c400 100%);
	margin-bottom: 12px;
}
#sec p{
	font-size: 20px;
	margin: 10px 0 0 20px;
}
#sec #innerP{
	font-size: 14px;
	margin-left: 20px;
}
#sec #innerP input{
	margin-left: 10px;
}
.inside_row{
	width:100%;
}
.col-xs-4 p{
	margin-left:20px;
	margin-right: 0;
	padding-right:0;
	font-size: 14px;
}
.col-xs-4{
	text-align: Left;
}
.col-xs-4 img{
 width: 60px;
 height: 60px;
}
.col-xs-4 p .img{
	width: 40px;
	height: 40px;
}
.col-xs-4 p input{
	margin-left: 10px;
}
.mid_row{
	background-color: #d6d6d6;
}
#sec .row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.last_row{
	background-color: #d7d7d7;
}
.last_row a{
	font-size: 10px;
	padding-bottom: 10px;
}
.last_row p{
	font-size: 10px;
}
}